:root {
    --crema: #FFF4E6;
    --celeste: #608BA1;
    --grisOscuro: #383838;
    --verde: #008B00;
    --grisClaro: #EBEBEB;
    --rojo: #FF0000;
    --negro: #000000;
    --blanco: #FFFFFF;
}
body{
    background-color: #FFF4E6;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
   }

.principal { 
    background-color:#608BA1;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.container-titulo{
    position: absolute;   
}

.container-titulo .merca{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30PX;
    color: #FFF4E6;
    margin-left: 200PX ;
}

.textotitulo {
    vertical-align: middle;
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-left: 30px;
    
}

.bibi-cart{
    color:white;

}

.textotitulo svg{ /*controla el color de los iconos */
    fill: currentColor;
}

.contenido{
    width: 80%;
    height: 650px;
    background-color: #383838;
    margin-left: 10% ;
    margin-top: 30px;
}


.imagen {
    padding: 0;
    display: flex;
    justify-content: left;
}

.titulo {
    text-align: left;
    color : white;
    margin-left: 200px;
}
    
    

.titulo h1{
    font-weight: 800;
    font-size: 65px;
}

.info{
    text-align: right;
    color:white;
    margin-top: -500px;
    margin-right: 80px;
}

.info h1{
    font-weight: 800;
    font-size: 85px;
    
}


.info p{ /*tamaño de letra que esta sobre el boton*/
    font-size: 30px;
}

.info button{
    background-color: #FFF4E6;
    border-radius: 20px;
    color:#000000;
    /*width: 100px;*/
    padding: 0 50px;

}

.contenido__columnasAd {
    margin-top: 7rem;
    width: 80%;
    background-color: var(--grisOscuro);
    margin-left: 10% ;
    position: absolute;
    transform: translateY(-60%);
    height: auto !important;
    padding: 3rem;
}

.contenedor__grafico { 
    width: 100%; 
    height: 70rem;
    margin-top: 43rem; 
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}

.contenedor__elemento {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

#chartdiv {
    margin-top: 30px;
    width: 500px;
    height: 500px;
    margin-right: 20px;
    font-size: 15;
}

.grafico {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.tarjeta {
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    min-height: 15rem;
}

.tarjeta1 {
    grid-column: 2;
    grid-row: 1;
}

.tarjeta2 {
    grid-column: 2;
    grid-row: 2;
}

.titulo__tarjeta {
    font-size: 3.5rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--crema);
}

.resultado__tarjeta {
    font-size: 5rem;
    font-weight: 450;
    color: var(--blanco);
    margin-top: 1rem;
}