:root {
    --krub: 'Krub', sans-serif;
    --mukta: 'Mukta', sans-serif;
    --openSans: 'Open Sans', sans-serif;
    --ptSans: 'PT Sans', sans-serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Staatlinches: 'Staatliches', cursive;
    --ubuntu: 'Ubuntu', sans-serif;
}

:root {
    --crema: #FFF4E6;
    --celeste: #608BA1;
    --grisOscuro: #383838;
    --verde: #008B00;
    --grisClaro: #EBEBEB;
    --rojo: #FF0000;
    --negro: #000000;
    --blanco: #FFFFFF;
}



.menu  {
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    
    
}

.menu a{
    width: 200px;
}

.menu a:hover{
    background-color: #FFF4E6;
    color: #608BA1;

}

.menu :hover{
    color: #608BA1;
    }



.container-titulo{
   position: absolute;

    
}
.container-titulo .merca{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30PX;
color: #FFF4E6;
margin-left: 200PX ;
}

div.principal {
    background-color:#608BA1;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}


.textotitulo {
    vertical-align: middle;
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-left: 30px;
}

.bibi-cart{
    color:white;

}

.textotitulo svg{
    fill: currentColor;
}

.contenido{
    
    width: 80%;
    height: 550px;
    background-color: #383838;
    margin-left: 10% ;
   


}

.cajas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 80px;
    
}

.Celular{
    
    background-color:#FFF4E6;
    width: 25%;
    height: 500px;/*
    margin-left: 50px;*/
   
    border: 0.2px solid black;
    border-radius: 20px;
    
}

.Casa{
    background-color:#FFF4E6;
    width: 25%;
    height: 500px;
    margin-left: 50px;
    border: 0.2px solid black;
    border-radius: 20px;

}

.Compra{
    background-color: #FFF4E6;
    width: 25%;
    height: 500px;
margin-left: 50px;
border: 0.2px solid black;
border-radius: 20px;
}

body{
    background-color: #FFF4E6;
}

.info{
    text-align: right;
    color:white;
    margin-top: 70px;
    margin-right: 70px;
}

.info h1{
    font-weight: 800;
    font-size: 35px;
    
}


.info p{
    font-size: 20px;
}

.info button{
    background-color: #FFF4E6;
    border-radius: 20px;
    color:#000000;
    /*width: 100px;*/
    padding: 0 50px;

}

.lorem{
    margin: 10px;
    text-align: center;
    }



footer{
    background-color: #383838 ;
    margin-top: 700px;
    height: 400px;
}

.container-footer{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 80PX;
color: #FFF4E6;
margin-left: 200PX;
position: absolute;
}

.iconosg {
    display: flex ;
   /* justify-content: center;
    align-items: center;
    text-align: center; */
   
    }

    .iconos_redes{
       margin: 30px;
        margin-top:30px ;
        width: 150px;
        height: 150px;
        position: relative;
        left: 30%;
        
    }

.redes{
    width: 250px;
    height: 250px;
    color: #FFF4E6;
    position:absolute;
    top: 15%;
    left: 15%;

}







 






